$medium: 600px;
$large: 900px;
$xlarge: 1200px;
$xxlarge: 1900px;

$breakpoints: (
  'medium': 600px,
  'large': 900px,
  'xlarge': 1200px,
  'xxlarge': 1900px
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
