footer {
  img { max-width: 139px; }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: $white;
      font-size: 20px;
      transition: 300ms all;

      &:hover { color: $light-green; }
    }
  }
}
